@import 'blue-dark';
@import 'red-dark';
@import 'green-dark';
@import 'default-dark';
@import 'megna-dark';
@import 'purple-dark';

@import 'blue';
@import 'red';
@import 'green';
@import 'default';
@import 'megna';
@import 'purple';

// 
// Common Color Style For Outline Buttons
// 

body[data-themecolor="dark-blue"],
body[data-themecolor="light-blue"],
body[data-themecolor="dark-default"],
body[data-themecolor="light-default"],
body[data-themecolor="dark-green"],
body[data-themecolor="light-green"],
body[data-themecolor="dark-megna"],
body[data-themecolor="light-megna"],
body[data-themecolor="dark-purple"],
body[data-themecolor="light-purple"],
body[data-themecolor="dark-red"],
body[data-themecolor="light-red"] {
	a {
		&.btn-outline-danger {
			color: $danger;
			&:hover {
				color: $white;
			}
		} 
		&.btn-outline-info {
			color: $info;
			&:hover {
				color: $white;
			}
		}	
		&.btn-outline-warning {
			color: $warning;
			&:hover {
				color: $white;
			}
		}
		&.btn-outline-success {
			color: $success;
			&:hover {
				color: $white;
			}
		}
		&.btn-outline-primary {
			color: $primary;
			&:hover {
				color: $white;
			}
		}
		&.btn-outline-light {
			color: $light;
			&:hover {
				color: $white;
			}
		}
		&.btn-outline-dark {
			color: $dark;
			&:hover {
				color: $white;
			}
		}
	}
}