body[data-themecolor="dark-default"]{
	$themecolor: #009efb;
	$themecolor-dark: #028ee1;
	$topbar: #fff;
	$sidebar:#272c33;
	$sidebar-text: #798699;
	$sidebar-icons: #798699;
	$sidebar-dark: #181c22;
	/*******************
	/*Top bar
	*******************/

	.topbar {
	    background: $topbar;
	    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	    .navbar-header {
	        background: $sidebar;
	        box-shadow: 4px -4px 10px rgba(0, 0, 0, 0.05);
	    }
	    .top-navbar .navbar-header .navbar-brand .dark-logo{
	        display: none;
	    }
	    .top-navbar .navbar-header .navbar-brand .light-logo{
	        display: inline-block;
	        color:rgba(255, 255, 255, 0.8);
	    }
	    
	}
	.logo-center .topbar {
	    .navbar-header {
	        background: transparent;
	        box-shadow: none;
	    }
	    .top-navbar .navbar-header .navbar-brand .dark-logo{
	        display:inline-block;
	    }
	    .top-navbar .navbar-header .navbar-brand .light-logo{
	        display: none;
	        color:rgba(255, 255, 255, 0.8);
	    }
	}

	.left-sidebar, .sidebar-nav{
		background: $sidebar;
	}

	.sidebar-footer {
		background: $sidebar-dark;
	}

	/*******************
	/*General Elements
	*******************/
	a{
        color:$themecolor;
    }
	a.btn {
        color: $white;
    }
    a.link {
        &:hover,
        &:focus {
            color: $themecolor!important;
        }
    }

	.bg-theme {
	    background-color: $themecolor !important;
	}

	.pagination > .active > a,
	.pagination > .active > span,
	.pagination > .active > a:hover,
	.pagination > .active > span:hover,
	.pagination > .active > a:focus,
	.pagination > .active > span:focus {
	    background-color: $themecolor;
	    border-color: $themecolor;
	}

	.right-sidebar {
	    .rpanel-title {
	        background: $themecolor;
	    }
	}

	.stylish-table {
	    tbody tr {
	        &:hover,
	        &.active {
	            border-left: 4px solid $themecolor;
	        }
	    }
	}
	.text-themecolor{
	    color:$themecolor!important;
	}
	.profile-tab,
	.customtab {
	    li {
	        a.nav-link {
	            &.active {
	                border-bottom: 2px solid $themecolor;
	                color: $themecolor;
	            }
	            &:hover {
	                color: $themecolor;
	            }
	        }
	    }
	}


	/*******************
	/*Buttons
	*******************/

	.btn-themecolor,
	.btn-themecolor.disabled {
	    background: $themecolor;
	    color: $white;
	    border: 1px solid $themecolor;
	    &:hover {
	        background: $themecolor;
	        opacity: 0.7;
	        border: 1px solid $themecolor;
	    }
	    &.active,
	    &:focus {
	        background: $themecolor-dark;
	    }
	}


	/*******************
	/*sidebar navigation
	*******************/
	.card-no-border .left-sidebar, .card-no-border .sidebar-nav{
	    background: $sidebar;
	}
	.mini-sidebar .sidebar-nav{
	    background: transparent;
	}
	@media (min-width: 768px) {
	.mini-sidebar .sidebar-nav #sidebarnav>li>ul{
	        background: $sidebar-dark;
	    }
	}    
	.sidebar-nav {
	   
	    ul {
	        li {
	            a {
	                color: $sidebar-text;
	                &.active,
	                &:hover {
	                    color: $themecolor;
	                }
	                &.active {
	                    color: $white;
	                }
	            }
	            &.nav-small-cap {
	                color: $gray-600;
	            }
	        }
	    }
	    > ul > li {
	        &.active > a {
	            border-left: 3px solid $themecolor;
	            color: $themecolor;
	            i {
	                color: $themecolor;
	            }
	        }
	    }
	    > ul > li > a {
	        border-left: 3px solid $sidebar;
	        &.active,
	        &:hover {
	            border-left: 3px solid $themecolor;
	            i {
	                color: $themecolor;
	            }
	        }
	        i {
	            color: $sidebar-icons;
	        }
	        &.active {
	            font-weight: 400;
	            background: $white;
	            color: $themecolor;
	        }
	    }
	}
	.user-profile .profile-text a{
	    color: $sidebar-text!important;
	}
}