// Theme colors
#main-wrapper{
    &[data-layout="vertical"], &[data-layout="horizontal"]{
        /*This is for the logo bg*/
        .topbar .top-navbar .navbar-header{
            &[data-logobg="sidebar-skin-1"]{
                background: $sidebar-skin-1;
				.navbar-brand {
                    .dark-logo {
                        display: inline;
                    }
                    .light-logo{
                        display: none; 
                    }
                }
                .nav-toggler, .topbartoggler{
                    color:$body-color;
                }
            }
            &[data-logobg="sidebar-skin-2"]{
                background: $sidebar-skin-2;
            }
        }
        .topbar .navbar-collapse, .topbar{
            &[data-navbarbg="header-skin-1"]{
                background: $header-skin-1;
            }
            &[data-navbarbg="header-skin-2"]{
                background: $header-skin-2;
            }
            &[data-navbarbg="header-skin-3"]{
                background: $header-skin-3;
            }
            &[data-navbarbg="header-skin-4"]{
                background: $header-skin-4;
            }
            &[data-navbarbg="header-skin-5"]{
                background: $header-skin-5;
            } 
            &[data-navbarbg="header-skin-6"]{
                background: $header-skin-6;
            }
        }
        /*This is for the sidebar bg*/
        .left-sidebar{
            &[data-sidebarbg="sidebar-skin-1"], &[data-sidebarbg="sidebar-skin-1"] ul{
                background: $sidebar-skin-1;
                .sidebar-nav {
                    ul {
                        background: $sidebar-skin-1; 
                       .sidebar-item {
                           .sidebar-link {
                               color: $sidebar-text-dark;
                               i{
                                   color: $sidebar-icons-dark;
                               }
                           }
                        }
                        .nav-small-cap {
                            color: $sidebar-text-dark;
                            opacity: 0.7;
                        }
                    }
                    .has-arrow {
                        &::after {
                           border-color: $sidebar-text-dark; 
                        }
                    }
                    .user-content, .user-name, .user-email{
                        color:$theme-dark;
                    }
                }
            }
            &[data-sidebarbg="sidebar-skin-2"]{
                background: $sidebar-skin-2;
            }
        }
    }
}
