
// @import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';

/* ------------------------------------------------------------- */
// Colors Overrride Here
/* ------------------------------------------------------------- */

$white:    							#fff !default;
$gray-100: 							#f2f7f8 !default;
$gray-200: 							#e9ecef !default;  
$gray-300: 							#e2e8f0 !default;
$gray-400: 							#ced4da !default;
$gray-500: 							#aaafb4 !default;
$gray-600: 							#90a4ae !default;
$gray-700: 							#525f7f !default;
$gray-800: 							#263238 !default;
$gray-900: 							#848a96 !default;
$black:    							#000 !default;
$cyan:     							#02cccd !default;
$info:      						#009efb !default;
$primary:   						#7460ee !default;
$secondary: 						#868e96 !default;
$success:   						#4cbf59 !default;
$warning:   						#ffbc34 !default;
$danger:    						#f62d51 !default;
$light:     						$gray-100 !default;
$dark:      						$gray-800 !default;
$blue:    							#02bec9 !default;
$purple:    						#7460ee !default;
$inverse:   						#2f3d4a !default;
$megna:   							#01c0c8 !default;
$yellow: 							#a0aec4 !default;
$extra-light: 						#ebf3f5 !default;
$light: 							$gray-100 !default;
$light-danger: 						#f9e7eb!default;
$light-info: 						#cfecfe!default;
$light-primary: 					#f1effd!default;
$light-warning: 					#fff8ec!default;
$light-success: 					#e8fdeb!default;
$light-inverse: 					#d8f9f5!default;
$light-megna: 						#e0f2f4!default;
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary':   					#7460ee,
    'secondary': 					#727b84,
    'success':   					#4cbf59,
    'info':      					#009efb,
    'warning':   					#ffbc34,
    'danger':    					#f62d51,
    'light':     					$gray-100,
    'dark':      					$gray-800,
    'cyan':      					#02cccd,
    'blue':    						#02bec9,
    'purple':    					#7460ee,
    'inverse':   					#2f3d4a
  ),
  $theme-colors
);


/* ------------------------------------------------------------- */
// ThemeColors Settings Here
/* ------------------------------------------------------------- */
$topbar:        					#fff;
$sidebar:       					#fff;
$sidebar-white: 					#ffffff;
$sidebar-alt:   					#e8eff0;
$sidebar-text:  					#54667a;
$sidebar-icons: 					#a6b7bf;
$headingtext: 						#2c2b2e;
$themecolor:    					#009efb;
$themecolor-dark:					#028ee1;
$light-text: 						#a6b7bf;

/* ------------------------------------------------------------- */
// Custom Colors
/* ------------------------------------------------------------- */
$danger-dark: 						#e6294b;
$success-dark: 						#4ab657;
$warning-dark: 						#e9ab2e;
$primary-dark: 						#6352ce;
$info-dark: 						#028ee1;
$red-dark: 							#d61f1f;
$inverse-dark: 						#232a37;
$dark-transparent:					rgba(0, 0, 0, 0.05);

/* ------------------------------------------------------------- */
// Body Content Related Here
/* ------------------------------------------------------------- */

$font-family-sans-serif: 			'Rubik', sans-serif !default;
$bodytext: 							#54667a;
$bodycolor: 						#fff;
$rgt: 								right;
$lft: 								left;


/* ------------------------------------------------------------- */
// Card Related Settings Here
/* ------------------------------------------------------------- */
$card-spacer-x:        				1.25rem;
$card-border-color:    				#d7dfe3 !default ;
$card-border-radius:   				4px !default;


/* ------------------------------------------------------------- */
// Heading Related Setting Here
/* ------------------------------------------------------------- */

$headings-color: 					#455a64 !default;
$headings-font-weight: 				400 !default;
$headings-margin-bottom: 			0.5rem !default;
$font-weight-light: 				300 !default;
$font-weight-normal: 				400 !default;
$font-weight-medium: 				500 !default;
$font-weight-bold: 					700 !default;

/* ------------------------------------------------------------- */
// Header Related Settings Here
/* ------------------------------------------------------------- */
$topbar-height: 					70px;
$topbar-box-shadow: 				5px 0px 10px rgba(0, 0, 0, 0.5);
$topnavbar-padding: 				0px 15px 0 0;
$topbar-lineheight: 				65px;
$nav-header-width:					240px;

/* ------------------------------------------------------------- */
// Sidebar Related Settings Here
/* ------------------------------------------------------------- */
$full-sidebar-width: 				240px;
$mini-sidebar-width: 				60px;
$sidebar-shadow: 					1px 0px 20px rgba(0, 0, 0, 0.08);
$sidebar-padding-xy: 				14px 35px 14px 15px;
$sidebar-primarylist-padding: 		10px 35px 10px 15px;
$minisidebar-primarylist-padding: 	14px 15px;
$cap-padding: 						14px 14px 14px 20px;
$hover-ul-width: 					260px;
$devider-margin: 					20px 0px;
$pagetitles-box-shadow: 			1px 0 5px rgba(0, 0, 0, 0.1);
$vertical-pagetitles-padding: 		15px;
$vertical-pagetitles-margin: 		0 -30px 30px;
$minisidebar-second-ul-top: 		45px;
$minisidebar-second-ul-width: 		200px;
$minisidebar-sidenav-width: 		200px;

$horizontal-li-padding: 			8px 13px;
$horizontal-second-li-padding: 		10px 35px 10px 15px;
$horizontal-second-ul-padding: 		15px;
$horizontal-third-ul-padding: 		0px 0 0 15px;
$horizontal-second-ul-width: 		260px;
$horizontal-two-column-ul-width: 	400px;
$horizontal-two-column-li-width: 	49%;
$horizontal-three-column-ul-width: 	600px;
$horizontal-three-column-li-width: 	32.5%;
$horizontal-ul-shadow: 				0px 10px 20px rgba(0, 0, 0, 0.09);
$horizontal-pagetitles-padding: 	15px 0 ;
$horizontal-pagetitles-margin: 		0 -15px;
$navlink-padding-y1: 				.75rem;
$navlink-padding-y2: 				.75rem;

/* ------------------------------------------------------------- */
// Border Realted Setting Here
/* ------------------------------------------------------------- */

$border-color: 						rgba(120, 130, 140, 0.13) !default;
$border-radius: 					4px !default;
$form-border:						#d9d9d9;

/* ------------------------------------------------------------- */
// Form Related Settings Here
/* ------------------------------------------------------------- */

$custom-select-indicator: 			url(../../assets/images/custom-select.png) !default;
$custom-select-indicator: 			str-replace(url(''), '%23') !default;
$input-border-color: 				#d9d9d9 !default;
$input-group-addon-bg: 				#e9ecef !default;
$breadcrumb-bg: 					#e9ecef !default;

/* ------------------------------------------------------------- */
// Badge Related Settings Here
/* ------------------------------------------------------------- */
$badge-font-weight : 				$font-weight-normal !default;

/* ------------------------------------------------------------- */
// Tables Related Settings Here
/* ------------------------------------------------------------- */
$table-border-color: 				#f3f1f1 !default;

/* ------------------------------------------------------------- */
// Dropdown Related Settings Here
/* ------------------------------------------------------------- */
$dropdown-item-padding-y :			.65rem;
$dropdown-item-padding-x : 			1rem;
$dropdown-color:					#99abb4 !default;

