/*******************/
/*Steam line widget*/
/*******************/
.steamline {
	.sl-item {
	    .sl-left {
	        float: $lft;
	        z-index: 1;
	        width: 40px;
	        line-height: 40px;
	        height: 40px;
	    }
		.sl-right {
		    .inline-photos {
		        margin-bottom: 21px;
		    }
		}
	}
}


.time-item {
    border-color: $border-color;
    padding-bottom: 1px;
    position: relative;
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        background-color: $white;
        border-color: $border-color;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        bottom: 0;
        content: '';
        height: 14px;
        left: 0;
        margin-left: -8px;
        position: absolute;
        top: 5px;
        width: 14px;
    }
}

.time-item-item {
    &:after {
        content: " ";
        display: table;
    }
}

.item-info {
    margin-bottom: 15px;
    margin-left: 15px;
    p {
        margin-bottom: 10px !important;
    }
}


