/*
Template Name: Admin Template
Author: Wrappixel

File: scss
*/
$mailbox-width:300px;
$mailbox-height:317px; 

/*******************
/*User mail widgets*/
/*******************/
.mailbox {
    .message-center {
        height:$mailbox-height;
        overflow: auto;
        .message-item {
			text-decoration: none;
            &:hover {
                background: $gray-100;
            }
            .user-img {
                width: 40px;
                .profile-status {
                    border: 2px solid $white;
                    height: 10px;
                    left: 30px;
                    top: 1px;
                    width: 10px;
                }
                .online {
                    background: $success;
                }
                .busy {
                    background: $danger;
                }
                .away {
                    background: $warning;
                }
                .offline {
                    background: $warning;
                }
            }
        }
    }
	.nav-link {
		color: $navbar-light-color !important;
	}
}


