// stylelint-disable declaration-no-important

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .float#{$infix}-left  { float: right !important; }
    .float#{$infix}-right { float: left !important; }
    .float#{$infix}-none  { float: none !important; }
  }
}

//
// Margin and Padding for rtl version
//

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop, $abbrev in (margin: m, padding: p) {
            @each $size, $length in $spacers {
                .#{$abbrev}r#{$infix}-#{$size} {
                    #{$prop}-left: $length !important;
                    #{$prop}-right: 0 !important;
                }
                
                .#{$abbrev}l#{$infix}-#{$size} {
                    #{$prop}-right: $length !important;
                    #{$prop}-left: 0 !important;
                }
            }
        }
    }
}


//
// Border
//

.border-right   { 
	border-left: $border-width solid $border-color !important; 
	border-right: 0 !important; 
}
.border-left    { 
	border-right: $border-width solid $border-color !important; 
	border-left: 0 !important; 
}

// Text align
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left   { text-align: right !important; }
    .text#{$infix}-right  { text-align: left !important; }
  }
}

