/* ------------------------------------------------------------- */
// Fonts Live Link Here
/* ------------------------------------------------------------- */
@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';

/* ------------------------------------------------------------- */
// Colors Overrride Here
/* ------------------------------------------------------------- */
$white:    							#fff !default;
$gray-100: 							#f2f7f8 !default;
$gray-200: 							#e9ecef !default;  
$gray-300: 							#e2e8f0 !default;
$gray-400: 							#ced4da !default; 
$gray-500: 							#aaafb4 !default;
$gray-600: 							#90a4ae !default;
$gray-700: 							#525f7f !default;
$gray-800: 							#263238 !default;
$gray-900: 							#848a96 !default;
$black:    							#000 !default;
$cyan:     							#02cccd !default;
$info:      						#009efb !default;
$primary:   						#7460ee !default;
$secondary: 						#868e96 !default;
$success:   						#4cbf59 !default;
$warning:   						#ffbc34 !default;
$danger:    						#f62d51 !default;
$light:     						$gray-100 !default;
$dark:      						$gray-800 !default;
$blue:    							#02bec9 !default;
$purple:    						#7460ee !default;
$inverse:   						#2f3d4a !default;
$megna:   							#01c0c8 !default;
$yellow: 							#a0aec4 !default;
$extra-light: 						#ebf3f5 !default;
$light: 							$gray-100 !default;
$light-danger: 						#f9e7eb!default;
$light-info: 						#cfecfe!default;
$light-primary: 					#f1effd!default;
$light-warning: 					#fff8ec!default;
$light-success: 					#e8fdeb!default;
$light-inverse: 					#d8f9f5!default;
$light-megna: 						#e0f2f4!default;
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary':   					#7460ee,
    'secondary': 					#727b84,
    'success':   					#4cbf59,
    'info':      					#009efb,
    'warning':   					#ffbc34,
    'danger':    					#f62d51,
    'light':     					$gray-100,
    'dark':      					$gray-800,
    'cyan':      					#02cccd,
    'blue':    						#02bec9,
    'purple':    					#7460ee,
    'inverse':   					#2f3d4a
  ),
  $theme-colors
);

/* ------------------------------------------------------------- */
// Custom Colors
/* ------------------------------------------------------------- */
$danger-dark: 						#e6294b;
$success-dark: 						#4ab657;
$warning-dark: 						#e9ab2e;
$primary-dark: 						#6352ce;
$info-dark: 						#028ee1;
$red-dark: 							#d61f1f;
$inverse-dark: 						#232a37;
$dark-transparent:					rgba(0, 0, 0, 0.05);

/* ------------------------------------------------------------- */
// Body Related common settings here
/* ------------------------------------------------------------- */
$main-body-bg: 						#fff!default;
$body-bg: 							#eef5f9;
$body-color: 						#54667a !default;
$lft:								left;
$rgt:								right;
$card-alt:							#e4e9ef;

/* ------------------------------------------------------------- */
// Fonts & Heading Tags related settings here
/* ------------------------------------------------------------- */
$font-size-base: 					0.875rem;
$font-family-sans-serif: 			'Rubik', sans-serif !default;
$font-weight-light: 				300 !default;
$font-weight-normal: 				400 !default;
$font-weight-medium: 				500 !default; 
$font-weight-bold: 					700 !default;

$h1-font-size: 						36px !default;
$h2-font-size: 						30px !default;
$h3-font-size: 						24px !default;
$h4-font-size: 						18px !default;
$h5-font-size: 						16px !default;
$h6-font-size: 						14px !default;

$headings-margin-bottom: 			0.5rem !default;
$headings-font-weight: 				400 !default;
$headings-color: 					#2c2b2e !default;

/* ------------------------------------------------------------- */
// Grid Related common settings here
/* ------------------------------------------------------------- */
$grid-gutter-width: 				20px !default;
$grid-breakpoints: 					( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1600px ) !default;

/* ------------------------------------------------------------- */
// ThemeColors Settings Here
/* ------------------------------------------------------------- */
$themecolor: 						#2962FF;
$themecolor-dark: 					#028ee1;
$themecolor-alt: 					#26c6da;
$theme-light:						#fff;
$theme-dark:						#212529;


/* ------------------------------------------------------------- */
// Skins Opetions For Customizer Here
/* ------------------------------------------------------------- */

// Gredient settings here
$gredient-1: 						#363d4a;
$gredient-2: 						linear-gradient(to right, #318f94 0%, #5ec58c 100%);
$gredient-3: 						linear-gradient(to right, #f62d51 0%, #660fb5 100%);
$gredient-4: 						linear-gradient(to right, #0178bc 0%, #00bdda 100%);
$gredient-5: 						linear-gradient(to right, #533fd0 0%, #840fb5 100%);
$gredient-6: 						linear-gradient(to right, #01c0c8 0%, #1f72a2 100%);

$header-skin-1:						$gredient-1;
$header-skin-2:						$gredient-2;
$header-skin-3:						$gredient-3;
$header-skin-4:						$gredient-4;
$header-skin-5:						$gredient-5;
$header-skin-6:						$gredient-6;

$sidebar-skin-1:					#fff;
$sidebar-skin-2:					#272c33;


/* ------------------------------------------------------------- */
// Header Settings Here
/* ------------------------------------------------------------- */
$topbar:							$theme-light;
$topbar-height:						70px;
$topbar-navlink-padding:			0px .75rem; 
$topbar-navlink-font-size:			17px;
$topbar-navlink-height:				70px;
$topbar-navbrand-padding:			0 10px 0 10px;
$navbar-light-color:                rgba($black, .5) !default;
$navbar-dark-color:                 rgba($white, .8) !default;

/* ------------------------------------------------------------- */
// Sidebar Settings Here
/* ------------------------------------------------------------- */
// Sidebar Colors related settings here
$sidebar: 							$theme-light;
$sidebar-alt:						#e8eff0;
$sidebar-text: 						#fff;
$sidebar-icons: 					#fff;
$sidebar-text-dark: 				#212529;
$sidebar-icons-dark: 				#4F5467;

// Sidebar width related settings here
$sidebar-width-full:				240px;
$sidebar-width-mini:				60px;  

// Sidebar Margin related settings here

// Sidebar Padding related settings here


/* ------------------------------------------------------------- */
// Layout Settings Here
/* ------------------------------------------------------------- */
$boxed-width:						1200px;

/* ------------------------------------------------------------- */
// Border Realted Setting Here
/* ------------------------------------------------------------- */
$border-color: 						rgba(120, 130, 140, 0.13) !default;
$border-radius: 					4px !default;
$form-border:						#d9d9d9;

/* ------------------------------------------------------------- */
// Shadow Settings Here
/* ------------------------------------------------------------- */
$shadow:							1px 0px 20px rgba(0,0,0,0.08);

/* ------------------------------------------------------------- */
// Transitions Settings Here
/* ------------------------------------------------------------- */
$transitions:						0.2s ease-in;
$transparent-dark-bg:				rgba(0,0,0,0.05);
%square {
    border-radius: 0px
};
%rotate45 {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}


/* ------------------------------------------------------------- */
// Form Related Settings Here
/* ------------------------------------------------------------- */
$custom-select-indicator: 			url(../../assets/images/custom-select.png) !default;
$custom-select-indicator: 			str-replace(url(''), '%23') !default;
$input-border-color: 				#d9d9d9 !default;
$input-group-addon-bg: 				#e9ecef !default;
$input-group-addon-border-color: 	$gray-200;
$input-btn-focus-color: 			rgba(0,0,0,.25) !default;
$input-focus-border-color: 			rgba(0,0,0,0.25) !default;

/* ------------------------------------------------------------- */
// Cards Related Settings Here
/* ------------------------------------------------------------- */
$card-border-width: 				0px !default 
$card-border-color: 				transparent !default;
$card-border-radius: 				4px !default;

/* ------------------------------------------------------------- */
// Breadcrumb Related Settings Here
/* ------------------------------------------------------------- */
$breadcrumb-bg: 					#e9ecef !default;
$breadcrumb-margin-bottom: 			1.5rem;

/* ------------------------------------------------------------- */
// Badge Related Settings Here
/* ------------------------------------------------------------- */
$badge-font-weight : 				$font-weight-normal !default;


/* ------------------------------------------------------------- */
// Progressbar Related Settings Here
/* ------------------------------------------------------------- */
$progress-height: 					6px !default;

/* ------------------------------------------------------------- */
// Tables Related Settings Here
/* ------------------------------------------------------------- */
$table-border-color: 				#f3f1f1 !default;
$table-cell-padding: 				.75rem !default;

/* ------------------------------------------------------------- */
// Dropdown Related Settings Here
/* ------------------------------------------------------------- */
$dropdown-item-padding-y :			.65rem;
$dropdown-item-padding-x : 			1rem;
$dropdown-link-color:				#54667a !default;
$dropdown-font-size:				16px !default;
$dropdown-border-color: 			$gray-200;
$dropdown-divider-bg: 				$gray-100;

/* ------------------------------------------------------------- */
// Caret Related Settings Here
/* ------------------------------------------------------------- */
$enable-caret: 						true !default;
$enable-rounded: 					true !default;
$enable-shadows: 					false !default;
$enable-gradients: 					false !default;
$enable-transitions: 				true !default;
$enable-hover-media-query: 			false !default;
$enable-grid-classes: 				true !default;
$enable-print-styles: 				true !default;
