/*******************
customizer
*******************/
.customizer{
    background: $theme-light;
    position: fixed;
    height: 100%;
    width: 280px;
    top:0px;
    right: -280px;
    z-index: 100;
    box-shadow: $shadow;
    transition: 0.3s ease-in;
    .service-panel-toggle{
        background: $danger;
        padding: 12px 20px;
        color:$white;
        position: absolute;
        top:30%;
        left:-54px; 
    }
    &.show-service-panel{
        right: 0px;
    } 
    .customizer-body{
        position: relative;
        height: 100%;
    }
    .customizer-tab{
        display: flex;
        .nav-item {
            width: 33.33%;
            text-align: center;
            .nav-link{
                padding: 15px 12px;
                color:$body-color;
                border-bottom: 3px solid transparent;
                &:hover, &.active{
                    border-bottom: 3px solid $themecolor;
                    color:$themecolor;
                }
            }
        }
    }
}
.custom-control-label::after, .custom-control-label::before{
    top:0.15rem;
}


.theme-color{
    padding:0px;
    margin: 0px;
    list-style:none;
    .theme-item{
        list-style: none;
        display: inline-block;
        margin-right: 5px;
        .theme-link{
            width: 50px;
            height: 50px;
            display: block;
				
			// 
			// Light Sidebar
			// 
			&[data-navbarbg="header-skin-1"][data-logobg="sidebar-skin-1"][data-sidebarbg="sidebar-skin-1"] {
				background: $gray-600;
			}
			&[data-navbarbg="header-skin-2"][data-logobg="sidebar-skin-1"][data-sidebarbg="sidebar-skin-1"] {
				background: $success;
			}
			&[data-navbarbg="header-skin-3"][data-logobg="sidebar-skin-1"][data-sidebarbg="sidebar-skin-1"] {
				background: $danger;
			}
			&[data-navbarbg="header-skin-4"][data-logobg="sidebar-skin-1"][data-sidebarbg="sidebar-skin-1"] {
				background: $info;
			}
			&[data-navbarbg="header-skin-5"][data-logobg="sidebar-skin-1"][data-sidebarbg="sidebar-skin-1"] {
				background: $purple;
			}
			&[data-navbarbg="header-skin-6"][data-logobg="sidebar-skin-1"][data-sidebarbg="sidebar-skin-1"] {
				background: $megna;
			}

			// 
			//  With Dark Sidebar
			// 
			&[data-navbarbg="header-skin-1"][data-logobg="sidebar-skin-2"][data-sidebarbg="sidebar-skin-2"] {
				background: $dark;
			    background: linear-gradient(to right, $dark 0%, $dark 23%, $gray-600 23%, $gray-600 99%);
			}
			&[data-navbarbg="header-skin-2"][data-logobg="sidebar-skin-2"][data-sidebarbg="sidebar-skin-2"] {
				background: $dark;
                background: linear-gradient(to right, $dark 0%, $dark 23%, $success 23%, $success 99%);
			}
			&[data-navbarbg="header-skin-3"][data-logobg="sidebar-skin-2"][data-sidebarbg="sidebar-skin-2"] {
				background: $dark;
			    background: linear-gradient(to right, $dark 0%, $dark 23%, $danger 23%, $danger 99%);
			}
			&[data-navbarbg="header-skin-4"][data-logobg="sidebar-skin-2"][data-sidebarbg="sidebar-skin-2"] {
				background: $dark;
			    background: linear-gradient(to right, $dark 0%, $dark 23%, $info 23%, $info 99%);
			}
			&[data-navbarbg="header-skin-5"][data-logobg="sidebar-skin-2"][data-sidebarbg="sidebar-skin-2"] {
				background: $dark;
			    background: linear-gradient(to right, $dark 0%, $dark 23%, $purple 23%, $purple 99%);
			}
			&[data-navbarbg="header-skin-6"][data-logobg="sidebar-skin-2"][data-sidebarbg="sidebar-skin-2"] {
				background: $dark;
			    background: linear-gradient(to right, $dark 0%, $dark 23%, $megna 23%, $megna 99%);
			}
        }
    }
}
