// header part
@import 'notify';

/*******************
 General Topbar
*******************/

.topbar {
    position: relative;
    z-index: 50;
    transition: $transitions;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
    background: $topbar;
    height: $topbar-height;
    .navbar-collapse {
        padding: 0px 10px 0 0;
    }
    .top-navbar {
        min-height: $topbar-height;
        padding: 0px;
        .dropdown-toggle::after {
            display: none;
        }
        .navbar-header {
            line-height: $topbar-navlink-height;
            .navbar-brand {
                display: flex;
                align-items: center;
                margin: 0px;
				justify-content: center;
                padding: $topbar-navbrand-padding;
                .dark-logo {
                    display: none;
                }
                .logo-icon{
                    margin-right: 5px;    
                }
            }
        }
        .navbar-nav>.nav-item>.nav-link {
           padding: $topbar-navlink-padding;
           font-size: $topbar-navlink-font-size;
           line-height: $topbar-navlink-height;
           height:$topbar-navlink-height;       
           
        }
        .navbar-nav>.nav-item{
            transition: 0.2s ease-in;
            &:hover{
                background: $transparent-dark-bg;
            }    
        }
    }
    .user-dd, .mailbox {
        min-width: 280px;
    }
    .nav-toggler, .topbartoggler{
        color:$theme-light;
        padding: 0 15px;
    }
}


.search-box {
    .app-search {
		position: relative;
        .form-control {
            width: 200px;
    		border-radius: 100px;
    		font-size: 14px;
    		transition: .5s ease-in;
            &:focus {
                width: 240px;
            }
        }
        .srh-btn {
            position: absolute;
            top: 2px;
            cursor: pointer;
            right: 20px;
			font-size: 14px;
			color: $body-color;
        }
    }
}




/*******************
Megamenu
******************/
.topbar {
    .mega-dropdown {
        position: static;
        .dropdown-menu {
            padding: 30px;
            @extend %square;
            width: 100%;
            max-height: 480px; 
            overflow: auto;
			background: url(../../assets/images/background/megamenubg.jpg) right bottom no-repeat $white;
        }
    }  
}
/*******************
Designed dropdown
******************/
.topbar {
    .dropdown-menu{
        padding-top: 0px;
        border: 0px;
        box-shadow:1px 1px 15px rgba(0, 0, 0, 0.1);
    }
}
/*******************
Topbar Responsive
******************/

@media (max-width: 767px) {
    .topbar .top-navbar {
        .navbar-collapse.show, .navbar-collapse.collapsing {
            display: block;
            width: 100%;
            border-top: 1px solid $border-color;
        }
        .navbar-nav {
            flex-direction: row;
            .dropdown{
                position: static;
            }
        }
        .navbar-nav>.nav-item>.nav-link{
            padding: 0 10px;
        }
        .navbar-header{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
        .dropdown-menu {
            position: absolute;
            width: 100%;
             .with-arrow{
                display: none;
            }
        }
        
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .mailbox{
        .message-center{
            height: 110px !important;
        }
    } 
    .user-dd{
        .profile-dis{
            height: 110px;
        }
    }
}